@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Josefin";
    src: url('./assets/josefin/JosefinSans-VariableFont_wght.ttf');
    font-weight: 350;
  }
  @font-face {
    font-family: "Josefin Bold";
    src: url('./assets/josefin/JosefinSans-VariableFont_wght.ttf');
    font-weight: bold;
  }

  body {
    background:
    radial-gradient(41.53% 82.12% at 100% 95.21%, #192F26 0%, rgba(62, 86, 70, 0) 100%),
      radial-gradient(52.1% 60.7% at 32.74% 42.58%, #3E5646 0%, #0B110C 100%);
    height: 100vh;
    background-position: top left;
    background-attachment: fixed;
    font-family: 'Josefin';
    color: #fff;
  }
}